<!--
@name: Item Card (General)
@size: poker
@orientation: vertical
-->

<div class="card {{preferences.size}} {{preferences.orientation}}" id="card-{{index}}-{{id}}">
  <div class="front" id="card_front-{{index}}-{{id}}">
    {{#decorations.front}}<div class="card_icon" id="card_icon-{{index}}-{{id}}"><img src="{{decorations.front}}" /></div>{{/decorations.front}}
    <h4>{{name}}</h4>
    <p class="info">{{desc.0}}</p><br />
    <div class="content">{{{desc.1}}}</div><br />
    <div class="content">{{{desc.2}}}</div><br />
    <div class="content">{{{desc.3}}}</div><br />
    <div class="content">{{{desc.4}}}</div><br />
    <div class="content">{{{desc.5}}}</div><br />
    <div class="content">{{{desc.6}}}</div>
  </div>
  <div class="back" id="card_back-{{index}}-{{id}}">
    <h4>{{name}}</h4>
    {{#decorations.back}}<div class="image" id="card_back-image-{{index}}-{{id}}"><img src="{{decorations.back}}" class="card-image" /></div>{{/decorations.back}}
    <div class="header" id="card_back-header-{{index}}-{{id}}">
      <p class="info"></p>
    </div>
    <div class="imagetext" id="card_back-imagetext-{{index}}-{{id}}">
      <p></p>
    </div>
    <div class="footer" id="card_back-footer-{{index}}-{{id}}">
    </div>
  </div>
</div>