<!--
@name: Character Notecard
@size: notecard
@orientation: vertical
-->

<div class="card {{preferences.size}} {{preferences.orientation}}" id="item-{{index}}-{{id}}">
  <div class="front" id="item_front-{{index}}-{{id}}">
    <span class="float-left"><h1>{{name}}</h1> {{traits.gender}}, {{background.definition.name}}</span>
    <span class="float-right">
      <h3>{{race.fullName}} {{classes.0.definition.name}}{{#classes.0.subclassDefinition}} ({{classes.0.subclassDefinition.name}}){{/classes.0.subclassDefinition}} {{level}}</h3>
      <i>{{traits.personalityTraits}}</i>
    </span>
    <p style="clear:both;"></p><br />
    <div class="columns">
      <div class="column" id="ability-scores">
        <div class="ability-block str"><span class="name">Str</span><span class="modifier">{{stats.0.str}}</span><span class="score">{{stats.0.value}}</span></div>
        <div class="ability-block dex"><span class="name">Dex</span><span class="modifier">{{stats.1.str}}</span><span class="score">{{stats.1.value}}</span></div>
        <div class="ability-block con"><span class="name">Con</span><span class="modifier">{{stats.2.str}}</span><span class="score">{{stats.2.value}}</span></div>
        <div class="ability-block int"><span class="name">Int</span><span class="modifier">{{stats.3.str}}</span><span class="score">{{stats.3.value}}</span></div>
        <div class="ability-block wis"><span class="name">Wis</span><span class="modifier">{{stats.4.str}}</span><span class="score">{{stats.4.value}}</span></div>
        <div class="ability-block cha"><span class="name">Cha</span><span class="modifier">{{stats.5.str}}</span><span class="score">{{stats.5.value}}</span></div>
      </div>
      <div class="column" id="saves-skills">
	<p class="section">Saving Throws</p>
        <ul class="item-list">
	{{#saves}}
          <li class="skill stat-{{stat}}"><span class="circle p{{proficiency}}"></span><span class="modifier">{{str}}</span><span class="name">{{friendlyName}}</span></li>
	{{/saves}}
	</ul><br />
	<p class="section">Skills</p>
        <ul class="item-list">
	{{#skills}}
          <li class="skill stat-{{stat}}"><span class="circle p{{proficiency}}"></span><span class="modifier">{{str}}</span><span class="name">{{friendlyName}}</span>{{#icon}}&nbsp;<i class="{{icon}}"></i>{{/icon}}</li>
	{{/skills}}
        </ul>
      </div>
      <div class="column" id="misc">
	<p class="section">Hit Points</p>
	<p class="larger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / {{hp.max}}</p>
	<span class="float-left-60">({{hp.hitDieSize}} x {{hp.hitDice}})</span><span class="float-right-40"> <b>Temp:</b></span><br /><br />	<p class="section">Proficiency Bonus</p> <p>{{pb.str}}</p>
	<p class="section">Initiative</p> <p>{{init.str}} <i class="{{init.icon}}"></i></p>
	<p class="section">Armor Class</p> <p>{{ac.value}}</p>
	<p class="section">Speed</p> <p>{{weightSpeeds.normal.walk}} ft.{{#weightSpeeds.normal.fly}} ({{weightSpeeds.normal.fly}} ft.){{/weightSpeeds.normal.fly}}</p><br />
	<p class="section">Proficiencies</p>
	<p><b>Armor:</b> <span class="comma-list">{{#proficiencies.armor}}<span class="comma-item">{{friendlySubtypeName}}</span>{{/proficiencies.armor}}</span></p>
	<p><b>Weapons:</b> <span class="comma-list">{{#proficiencies.weapons}}<span class="comma-item">{{friendlySubtypeName}}</span>{{/proficiencies.weapons}}</span></p>
	<p><b>Tools:</b> <span class="comma-list">{{#proficiencies.tools}}<span class="comma-item">{{friendlySubtypeName}}</span>{{/proficiencies.tools}}</span></p>
	<p><b>Languages:</b> <span class="comma-list">{{#proficiencies.languages}}<span class="comma-item">{{friendlySubtypeName}}</span>{{/proficiencies.languages}}</span></p><br />
	<p class="section">Senses</p>
	<p>Passive Percept.: {{passives.perception}}</p>
	<p>Passive Investig.: {{passives.investigation}}</p>
	<p>Passive Insight: {{passives.insight}}</p>
	{{#proficiencies.senses}}<p>{{friendlySubtypeName}}: {{value}} ft.</p>{{/proficiencies.senses}}<br />
	<p class="section">Defenses</p> <span class="comma-list">{{#proficiencies.defenses}}<span class="comma-item"><i class="ddb-{{type}}"></i> {{friendlySubtypeName}}</span>{{/proficiencies.defenses}}</span>
      </div>
    </div>
    <div style="padding-top: 20px;">
      <b>Alignment:</b> {{alignment.description}}
      {{#traits.height}}, <b>Height:</b> {{traits.height}}{{/traits.height}}
      {{#traits.weight}}, <b>Weight:</b> {{traits.weight}}{{/traits.weight}}
      {{#traits.age}}, <b>Age:</b> {{traits.age}}{{/traits.age}}
      {{#traits.size}}, <b>Size:</b> {{traits.size}}{{/traits.size}}<br />
      {{#traits.appearance}}<b>Appearance:</b> {{traits.appearance}}{{/traits.appearance}}
      {{#traits.hair}}, <b>Hair:</b> {{traits.hair}}{{/traits.hair}}
      {{#traits.eyes}}, <b>Eyes:</b> {{traits.eyes}}{{/traits.eyes}}
    </div>
  </div>

  <div class="back" id="item_back-{{index}}-{{id}}">
    <span class="float-left-40"><p class="heading">Attacks</p></span><span class="float-right-60"><p><b>Attacks Per Action:</b> {{attacking.attacksPerAction}}{{#attacking.fightingStyle}}, <b>Fighting Style:</b> {{name}}{{/attacking.fightingStyle}}</p></span>
    {{#limitedUses.0}}
    <div id="limitedUses0" style="position:absolute;right:15px;top:10px;"><b>{{name}}:</b> {{remainingUses}} / {{maxUses}}</div>
    {{/limitedUses.0}}
    <p style="clear:both;"></p>
    <table><tr class="table-header">
      <th width="30%">Attack Name</th><th width="10%">To Hit</th><th width="15%">Damage</th><th width="15%">Range</th><th width="30%">Notes</th></tr>
      <!-- {{#attacks.1}} -->
      <tr class="table-item"><td>{{definition.name}}</td><td>{{hit.str}}</td><td>{{damage.str}} <i class="{{damage.icon}}"></i></td><td>{{range.str}}</td><td class="notes"><span class="notes">{{notes}}</span></td></tr>
      <!-- {{/attacks.1}} -->
    </table><br />

    <span class="float-left-40"><p class="heading">Spells ({{spellCasting.ability}})</p></span><span class="float-right-60"><p><b>Spell Attack:</b> {{spellCasting.attack}}, <b>Spell Save DC:</b> {{spellCasting.save}}</p></span>
    <p style="clear:both;"></p>
    {{#spells.0.0}}
    <p class="section-short">Cantrips</p><p style="clear:both;"></p>
    <table><tbody><tr class="table-header" id="spells-0">
      <th width="35%">Spell Name</th><th width="15%">Hit/DC</th><th width="15%">Effect</th><th width="10%">Time</th><th width="10%">Range</th><th width="15%">Notes</th></tr>
      <!-- {{#spells.0}} -->
      <tr class="table-item">
	<td><i class="{{icon_school}}"></i> {{definition.name}} <i class="{{icon}}"></i></td>
	<td>{{hit}}</td> <td><span style="white-space:nowrap;">{{effect.value}} <i class="{{effect.icon}}"></i></span></td> <td>{{time}}</td>
	<td>{{range.value}} {{#range.aoe}}<span style="white-space:nowrap;"><i class="{{range.aoe_icon}}"></i> {{range.aoe}}</span>{{/range.aoe}}</td>
	<td class="notes"><span class="notes">{{notes}}</span></td>
      </tr>
      <!-- {{/spells.0}} -->
    </table>
    {{/spells.0.0}}
    {{#spells.1.0}}
    <span class="float-left-40"><p class="section-short">1st Level</p></span>{{#limitedUses.1.available}}<span class="float-right-60"><p class="section-short">{{{limitedUses.1.str}}}</p></span>{{/limitedUses.1.available}}
    <span style="clear:both;"></span>
    <table><tbody><tr class="table-header" id="spells-1">
      <th width="35%">Spell Name</th><th width="15%">Hit/DC</th><th width="15%">Effect</th><th width="10%">Time</th><th width="10%">Range</th><th width="15%">Notes</th></tr>
      <!-- {{#spells.1}} -->
      <tr class="table-item">
	<td><i class="{{icon_school}}"></i> {{definition.name}} <i class="{{icon}}"></i></td>
	<td>{{hit}}</td> <td><span style="white-space:nowrap;">{{effect.value}} <i class="{{effect.icon}}"></i></span></td> <td>{{time}}</td>
	<td>{{range.value}} {{#range.aoe}}<span style="white-space:nowrap;"><i class="{{range.aoe_icon}}"></i> {{range.aoe}}</span>{{/range.aoe}}</td>
	<td class="notes"><span class="notes">{{notes}}</span></td>
      </tr>
      <!-- {{/spells.1}} -->
    </table>
    {{/spells.1.0}}
    {{#spells.2.0}}
    <span class="float-left-40"><p class="section-short">2nd Level</p></span>{{#limitedUses.2.available}}<span class="float-right-60"><p class="section-short">{{{limitedUses.2.str}}}</p></span>{{/limitedUses.2.available}}
    <table><tbody><tr class="table-header" id="spells-2">
      <th width="35%">Spell Name</th><th width="15%">Hit/DC</th><th width="15%">Effect</th><th width="10%">Time</th><th width="10%">Range</th><th width="15%">Notes</th></tr>
      <!-- {{#spells.2}} -->
      <tr class="table-item">
	<td><i class="{{icon_school}}"></i> {{definition.name}} <i class="{{icon}}"></i></td>
	<td>{{hit}}</td> <td><span style="white-space:nowrap;">{{effect.value}} <i class="{{effect.icon}}"></i></span></td> <td>{{time}}</td>
	<td>{{range.value}} {{#range.aoe}}<span style="white-space:nowrap;"><i class="{{range.aoe_icon}}"></i> {{range.aoe}}</span>{{/range.aoe}}</td>
	<td class="notes"><span class="notes">{{notes}}</span></td>
      </tr>
      <!-- {{/spells.2}} -->
    </table>
    {{/spells.2.0}}
    <br /><p class="heading">Features</p>
    {{#feats}} {{#isImportantDisplay}}
    <span class="float-left-40"><p class="section-short">{{definition.name}}.</p></span><span class="float-right-60"></span><span class="float-right-60"><p class="section-short">{{{limitedUse.str}}}</p></span>
    <p style="clear:both;"></p>
    <p>{{{definition.snippet}}}</p>
    {{/isImportantDisplay}}{{/feats}}
  </div>
</div>