<!--
@name: Strixhaven Page - Classes
@size: a6
@orientation: vertical
-->

<div class="card {{preferences.size}} {{preferences.orientation}}" id="item-{{index}}-{{id}}">
  <div class="front" id="item_front-{{index}}-{{id}}">
    <p class="heading">Report Card</p><br />
    <p class="section">Year One</p><br />
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>Courses</label></div>
    <div class="written-list"><br/ >
      <div class="entry-row"><b>Exam 1:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 2:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 3:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
    </div><br />

    <p class="section">Year Two</p><br />
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>Courses</label></div>
    <div class="written-list"><br/ >
      <div class="entry-row"><b>Exam 1:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 2:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 3:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
    </div>
  </div>

  <div class="back" id="item_back-{{index}}-{{id}}">
    <p class="heading">Report Card</p><br />
    <p class="section">Year Three</p><br />
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>Courses</label></div>
    <div class="written-list"><br/ >
      <div class="entry-row"><b>Exam 1:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 2:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 3:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
    </div><br />

    <p class="section">Year Four</p><br />
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>&nbsp;</label></div>
    <div class="entry-block full"><div class="write-line"></div><label>Courses</label></div>
    <div class="written-list"><br/ >
      <div class="entry-row"><b>Exam 1:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 2:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
      <div class="entry-row"><b>Exam 3:</b>
        <div class="square-box"></div><div class="square-box"></div><div class="square-box"></div>
        <div class="triangle-box"></div><div class="triangle-box"></div><div class="triangle-box"></div>
        <div class="entry-block wide"><div class="write-line"></div><label>Skill(s)</label></div>
      </div>
    </div>
  </div>
</div>