<!--
@name: Strixhaven Page - Relationships
@size: a6
@orientation: vertical
-->

<div class="card {{preferences.size}} {{preferences.orientation}}" id="item-{{index}}-{{id}}">
  <div class="front" id="item_front-{{index}}-{{id}}">
    <p class="heading">Relationships</p>
    <ul class="written-list">
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="back" id="item_back-{{index}}-{{id}}">
    <p class="heading">Relationships</p>
    <ul class="written-list">
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block inspo"><div class="square-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
              <div class="entry-block wider"><div class="write-line"></div><label>Name</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Relationship</label></div>
            </div>
            <div class="entry-row">
              <div class="entry-block small"><div class="write-line"></div><label>Points</label></div>
              <div class="entry-block wider"><div class="write-line"></div><label>Boon/Bane</label></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>