<!--
@name: Strixhaven Page - Extracurriculars
@size: a6
@orientation: vertical
-->

<div class="card {{preferences.size}} {{preferences.orientation}}" id="item-{{index}}-{{id}}">
  <div class="front" id="item_front-{{index}}-{{id}}">
    <p class="heading">Extracurriculars</p>
    <ul class="written-list">
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block d4"><div class="triangle-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
	      <div class="entry-block wide"><div class="write-line"></div><label>Extracurricular</label></div>
	    </div>
            <div class="entry-row">
              <div class="entry-block wide"><div class="write-line"></div><label>Skills</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Coworker(s)</label></div>
            </div>
          </div>
        </div>
      </li>
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block d4"><div class="triangle-box" role="checkbox" aria-checked="false"></div></div>
          <div class="entry-fields">
            <div class="entry-row">
	      <div class="entry-block wide"><div class="write-line"></div><label>Extracurricular</label></div>
	    </div>
            <div class="entry-row">
              <div class="entry-block wide"><div class="write-line"></div><label>Skills</label></div>
              <div class="entry-block wide"><div class="write-line"></div><label>Coworker(s)</label></div>
            </div>
          </div>
        </div>
      </li>
    </ul><br />

    <p class="heading">Job</p>
    <ul class="written-list">
      <li class="written-entry">
        <div class="entry-layout">
          <div class="entry-block d4"></div>
          <div class="entry-fields">
            <div class="entry-row"><div class="entry-block wide"><div class="write-line"></div><label>Job/Employer</label></div>
            </div>
            <div class="entry-row"><div class="entry-block wide"><div class="write-line"></div><label>Coworker(s)</label></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="back" id="item_back-{{index}}-{{id}}">

  </div>
</div>