header { background-color: #bbb; position: fixed; left: 0; right: 0; top: 5px; height: 30px; display: flex; align-items: center; box-shadow: 0 0 25px 0 #bbb; }
header * { display: inline; }
header li { margin: 20px; }
header li a { color: black; font-weight: bold; text-decoration: none; }

.bg_grey { background: #ccc; }
.controls-window { background-color: #fff; border: 4px solid #ccc; margin:-25px 0 0 -50px; border-radius:5px; padding:5px; }
.table-selector th { cursor: default; padding: 2px 20px; }
.table-selector td { cursor: pointer; padding: 2px 20px; }
.table-selector td:hover { background-color: #eee; }

.circle { width: 100px; display: inline-block; position: relative; text-align: center; line-height: 1.2; }
.circle canvas { vertical-align: top; }
.circle strong { position: absolute; top: 0%; left: 0%; width: 100%; text-align: center; line-height: 40px; font-size: 30px; }
.circle span { position: absolute; top: 50%; left: 35%; width: 100%; text-align: center; line-height: 0px; font-size: 12px; }

.row label { position: absolute; top: 75%; right: 20px; width: 100%; text-align: right; line-height: 0px; font-size: 10px; color: grey; }
.soft-edges:before { display: block; content: ""; position: absolute; width: 100%; height: 100%; -moz-box-shadow: inset 0px 0px 6px 6px rgba(255,255,255,1); -webkit-box-shadow: inset 0px 0px 6px 6px rgba(255,255,255,1); box-shadow: inset 0px 0px 6px 6px rgba(255,255,255,1); }

.card-container { position: absolute; left: 300px; padding-right: 100px; }
.cards { display: flex; flex-wrap: wrap; list-style: none; margin: 0; padding: 0; }
.cards_item { display: flex; padding: 0.1rem; }
.card { background-color: white; border: 1px solid #695d39; border-radius: .5em; display: flex; flex-direction: column; overflow: hidden; height: 7in; min-height: 7in; width: 2.5in; min-width: 2.5in; }
.card_image { height: 3.5in; }
.card_image img { max-height: 3.2in; width: 100%; -webkit-transform: scaleY(-1); transform: scaleY(-1); }
.card_content { padding: 0.4rem; height: 3.5in; }
.card_content h4 { line-height: 0.5; margin-top: 12px; margin-bottom: 5px; }
.card_content .info { font-size: 9px; line-height: 2; font-style: italic; padding-top: 2px; }
.card_content .info input { height: 8px; }
.card_content .content { font-size: 10px; line-height: 1; text-align: justify; vertical-align: middle; }
.card_content .notes { font-size: 9px; }

.grid-container-chip { display: grid; grid-template-columns: repeat(6, 1fr); grid-gap: 10px; }
.chip { position: relative; width: 96px; height: 96px; border-radius: 50%; border: dashed 1px #000; }
.circle-img { position: absolute; left: 0; top: 0; width: 65px; height: 65px; padding: 15px; }
.circle-txt { position: absolute; left: 50%; bottom: 2px; font-size: 10px; font-weight: bold; }
.chip-life { position: absolute; right: 20px; top: 5px; }
.chip-life img { height: 10px; }
.chip-life .img-bg { background: #ccc; border-radius: 50%; height: 15px; -webkit-print-color-adjust: exact !important; }
.chip-life-back { position: absolute; top: 25%; left: 22px; }
.chip-life-back img { height: 15px; }
.chip-life-back .img-bg { background: #ccc; border-radius: 50%; height: 20px; -webkit-print-color-adjust: exact !important; }

.dice-roller { width: 100px; height: 30px; }
.dice-button { background: black; color: white; font-weight: bold; border: 1px black; border-radius: 5px 0px 0px 5px; float: left; height: 100%; width: 62%; cursor: pointer; user-select: none; }
.dice-button:hover { background: #323232; }
.dice-button:active { background: #595959; }
.dice-label { border: 1px solid black; border-radius: 0px 5px 5px 0px; float: right; height: 22px; width: 35%; padding-top: 5px; text-align: center; }
.dice-nat-20 { background: #ffd700; }
.dice-nat-1 { background: #ff7276; }
.dice-ability-roller { width: 90px; height: 90px; text-align: center; font-size: 80%; }
.dice-ability-button { background: black; color: white; font-weight: bold; border: 1px black; border-radius: 0px 0px 5px 5px; float: left; height: 35%; width: 100%; cursor: pointer; user-select: none; }
.dice-ability-button:hover { background: #323232; }
.dice-ability-button:active { background: #595959; }
.dice-ability-label { border: 1px solid black; border-radius: 5px 5px 0px 0px; float: right; height: 62%; width: 98%; padding-top: 8px; text-align: center; font-size: 250%; }

.leaflet-icon-null { background:grey; opacity: 0.1; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon-5 { background:darkred; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon-4 { background:firebrick; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon-3 { background:red; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon-2 { background:orange; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon-1 { background:yellow; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon0 { background:white; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon1 { background:green; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon2 { background:teal; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon3 { background:blue; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon4 { background:indigo; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }
.leaflet-icon5 { background:darkviolet; opacity: 0.7; border:5px solid rgba(255,255,255,0.5); border-radius:50%; }

/* ------------------------------------------------------------------------- */
/* Sections */
/* ------------------------------------------------------------------------- */
.section-container {
    border: 8px solid;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    /*font-family: Arial;*/
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    width:100%;
    margin-bottom:8px;
    page-break-inside: avoid;
}

.section-content {
    padding:8px;
    padding-bottom: 0;
    border-radius: 8px;
    margin-top: 0;
    background-color: white;
    border-color: inherit;
    font-size: inherit;
}

.section-title {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: white;
    font-size: 16pt;
}

.float-right {
    float: right;
}

.section-subtitle, #modal-reference {
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    font-style: italic;
}

#modal-reference {
    margin-top: 1em;
}

.section-row {
    font-size: inherit;
}

.section-row:before, .section-row:after{
    display: table;
    content: " ";
    clear: both;
}

.section-row + .section-subtitle {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Items */
/* ------------------------------------------------------------------------- */

.item {
    margin-bottom: 8px;
    float: left;
    display: flex;
    font-size: inherit;
    vertical-align: top;
    box-sizing: border-box;
}

.item-icon {
    float: left;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
}

.item-title {
    font-weight: bold;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-desc {
    font-style: italic;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-text-container {
    flex: 1;
    padding-right: 4px;
    font-size: inherit;
    height: 100%;
}


/* ------------------------------------------------------------------------- */
/* Colors */
/* ------------------------------------------------------------------------- */
#section-movement, #section-movement .item-icon {
    background-color: maroon;
    border-color: maroon;
}
#section-movement .text {
    color: maroon;
}

#section-action, #section-action .item-icon {
    background-color: black;
    border-color: black;
}
#section-action .text {
    color: black;
}

#section-bonus-action, #section-bonus-action .item-icon {
    background-color: indigo;
    border-color: indigo;
}
#section-bonus-action .text {
    color: indigo;
}

#section-reaction, #section-reaction .item-icon {
    background-color: DarkOliveGreen ;
    border-color: DarkOliveGreen ;
}
#section-reaction .text {
    color: DarkOliveGreen ;
}

#section-condition, #section-condition .item-icon {
    background-color: FireBrick;
    border-color: FireBrick;
}
#section-condition .text {
    color: FireBrick;
}

#section-environment, #section-environment .item-icon {
    background-color: ForestGreen;
    border-color: ForestGreen;
}
#section-environment .text {
    color: ForestGreen;
}


/* ------------------------------------------------------------------------- */
/* Page container */
/* ------------------------------------------------------------------------- */

body {
    display: flex;
    justify-content:center;
    align-content:center;
}

/* ------------------------------------------------------------------------- */
/* Misc */
/* ------------------------------------------------------------------------- */

.hidden {
    display: none;
}

ul {
    padding-left: 20px;
}

p, hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border: 0px;
    border-top: 1px solid gray;
}

p:first-child {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Modal */
/* ------------------------------------------------------------------------- */
.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    display: none;
}

.modal-visible {
    display: block;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 8px;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #888;
    opacity: .75;
    overflow: hidden;
}

.modal-container {
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}


/* ------------------------------------------------------------------------- */
/* Viewport sizes */
/* ------------------------------------------------------------------------- */

/* Smart phone, portrait */
@media (min-width:    0px) and (max-width:  479px) {
    .fontsize { font-size: 12pt; } 
    .iconsize { width: 44px; height: 44px; } 
    .itemsize { height: 44px; width: 100%; } 
    .modalsize {} 
}

/* Smart phone, landscape */
@media (min-width:  480px) and (max-width:  767px) {
    .fontsize { font-size: 11pt; }
    .iconsize { width: 40px; height: 40px; }
    .itemsize { height: 40px; width:  50%; }
    .modalsize {}
}

/* Tablet, portrait */
@media (min-width:  768px) and (max-width:  991px) {
    .fontsize { font-size: 11pt; }
    .iconsize { width: 40px; height: 40px; }
    .itemsize { height: 40px; width:  33%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Tablet, landscape */
@media (min-width:  992px) and (max-width: 1199px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px; }
    .itemsize { height: 44px; width:  33%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Small desktop screen */
@media (min-width: 1200px) and (max-width: 1599px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px; }
    .itemsize { height: 44px; width:  25%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Large desktop screen */
@media (min-width: 1600px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px; }
    .itemsize { height: 44px; width:  20%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Print */
@media print {
    .fontsize { font-size: 10pt; }
    .iconsize { width: 36px; height: 36px; }
    .itemsize { height: 36px; width: 33%; }
    .modalsize {}
}